@use "base" as *;

.hero-section {
    background: url("../images/mountain.jpg") center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vmin;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .form {
        width: 500px;
        padding: 20px;
        background-color: $white;
        border-radius: 4px;
        z-index: 1;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        margin-block: 0.75rem;
    }
}

.form-subtext {
    font-size: 16px;
    margin: 10px 0px;
    color: $gray-700;
    a {
        text-decoration: none;
        color: $blue-500;
        font-weight: 500;
    }
}
